# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg

# Django
/db.sqlite3
/media/
/staticfiles/

# Environments
.venv/
venv/
env/

# IDE / Editor
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# dotenv
.env
