{% load static %}
{% load static %}
<header>
    <div class="nav-bar" role="navigation" aria-label="תפריט ראשי">
        <a href="{% url 'home' %}" class="logo" aria-label="עמוד הבית">
            <img src="{% static 'icons_logo/logo-arye.svg' %}" alt="לוגו אריה" />
        </a>
        <nav>
            <ul class="menu">
                <li><a href="#services">מתפרה</a></li>
                <li><a href="#consult">תדמיתנות</a></li>
                <li><a href="#dev">בדים</a></li>
                <li><a href="#prints">פיתוח מוצרי טקסטיל</a></li>
                <li><a href="#factory">שירותי עיצוב</a></li>
                <li><a href="#about">יעוץ וליווי</a></li>
            </ul>
        </nav>
        <a class="wa-link" href="https://wa.me/972542367535" target="_blank" rel="noopener" aria-label="צ'אט וואטסאפ">
            <img src="{% static 'icons_logo/whatsapp.svg' %}" alt="WhatsApp" />
        </a>

    </div>
</header>
