{% load static %}
<header>
    <div class="nav-bar" role="navigation" aria-label="תפריט ראשי">
        <a href="{% url 'home' %}" class="logo" aria-label="עמוד הבית">
            <img src="{% static 'icons_logo/logo-arye.svg' %}" alt="לוגו אריה" />
        </a>
        <nav>
            <ul class="menu">
                <li><a href="#services">ייצור</a></li>
                <li><a href="{% url 'branding' %}">מיתוג</a></li>
                <li><a href="{% url 'printing' %}">הדפסות</a></li>
                <li><a href="{% url 'fabrics' %}">בדים</a></li>
                <li><a href="{% url 'patternmaking' %}">תדמיתנות וגזרנות</a></li>
                <li><a href="#products">גלריית תמונות</a></li>
                <li><a href="#about">אודות</a></li>
            </ul>
        </nav>
        <a class="wa-link" href="https://wa.me/972542367535" target="_blank" rel="noopener" aria-label="צ'אט וואטסאפ">
            <img src="{% static 'SVG ICONS/MEDIA-03.svg' %}" alt="WhatsApp" />
        </a>

    </div>
</header>
